./log
.idea
*.ipynb
./code/__pycache__
./PyMiniSolvers/
./deps/
./dataset/*
./dataset/train/*
./dataset/tmp/*
**/train
**/tmp
*.swp
*.pkl
__pycache__
./bak/
bak/
.vscode/
*.out
*.ipynb
*.km
log/
model/
*.html
*.aag
*.aig
*.pkl
aiger_tools/
**/aiger_tools
bak/
**/bak/
**/bak
log/
**/log/
**/log
aag4train_bak/
aag4train/
not_used/
log/*
deps/*
*.smt2
*.lprof
*.cnf
output.json
output.cnf
pydimacs/
.history/

# ignore others
*.o
*.csv
*.json
*.cnf
*.txt
build/
aiger/
ensmallen/
minisat/
mlpack/
.vscode/
minisat_bak2/
.history/