./log
.idea
*.ipynb
./code/__pycache__
./PyMiniSolvers/
./deps/
./dataset/*
./dataset/train/*
./dataset/tmp/*
**/train
**/tmp
*.swp
*.pkl
__pycache__
./bak/
bak/
.vscode/
*.out
*.ipynb
*.km
log/
model/
*.html
# *.aag
aiger_tools/
**/aiger_tools
bak/
**/bak/
**/bak
aag4train_bak/
not_used/